node_modules
# Ignore ทุกอย่าง
*

# ยกเว้น 
!tools/
!tools/**
!package.json
!plopfile.js
!.gitignore
!README.md

!frontend/
!frontend/**
frontend/package-lock.json
frontend/node_modules

!backend/
!backend/**
backend/node_modules
backend/package-lock.json